/*Background layout and design*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Layout*/

:root{
    --primary-color-:#292421;
}

body{
    color: var(--primary-color-);
    font-family:fantasy;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    background-color: aliceblue;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#monthDisplay{
    font-size: large;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: flex;
    justify-content: space-around;
    height: 20px;
}
button{
    background-color: #292421;
    width: 20%;
}

#weekdays{
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1%;
}

#weekdays div{
    border: 1px solid black;
    padding: 3px;
}

/*Calendar layout*/
#calendar {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1%;

}

.day,
.padding {
    border: 1px solid black;
    padding: 3px;
    height: 100px;
}

.day {
    background-image: url("/assets/images/widgets/pixel_art_file.png");
    background-size: cover;
    background-repeat: no-repeat;
}
